<!DOCTYPE html>

<!-- 문서 안에 있는 조각을 basic 페이지에 전달한다 -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content"> <!-- 조각만들기 -->

<h1>Board List Page
    <span>
        <a th:href="@{/board/register}">
            <button type="button" class="btn btn-outline-primary"> 게시물 등록</button>
        </a>
    </span>
</h1>

<table class="table table-striped">
    <!-- 부트스트랩의 스타일 적용 -->
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto : ${list}">
        <th>
        	<a th:href="@{/board/read(no=${dto.no})}">[[${dto.no}]]</a>
        	
        </th>
        <td>[[${dto.title}]]</td>
        <td>[[${dto.writer}]]</td>
        <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
    </tr>
    </tbody>

</table>
<!-- 타임리프안에서 인라인 속성 사용시 th:inline -->
<script th:inline="javascript">

	// jquery 라이브러리
	// document: html 문서를 담는 객체
	// ready(): 문서가 로드가 될 때 이벤트 처리
	$(document).ready(function(){
		
		// 인라인 속성을 사용하여 타입 처리
		// 전달받은 값을 모달창으로 출력
		// 서버에서 전달한 처리결과를 msg변수에 저장
		// 글번호가 있는지 확인 
		var msg = [[${msg}]];
		
		if(msg != null) {
			alert(msg + "번 글이 등록되었습니다.");
		}
		
	});

</script>

   </th:block>

</th:block>










